#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #BDB1A8;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888888;
}

.input {
  padding: 20px;
  display: flex;
  gap: 10px; /* Space between rectangles */
}

.rectangle-wrapper {
  position: relative; /* Needed for absolute positioning of the calendar */
}

.oval-button {
  width: 80px; /* Wider for an oval shape */
  height: 60px;
  background-color: rgb(35, 215, 104); /* Tomato color */
  border-radius: 60px; /* Makes it oval */
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s;
}

.oval-button:hover {
  background-color: rgb(125, 220, 161);
}

.calendar-container {
  position: absolute;
  z-index: 999; /* Ensure it's on top of other elements */
}

.rectangle input {
  width: 100px; /* Set a smaller width for the input box */
  height: 30px; /* Set a smaller height for the input box */
  font-size: 14px; /* Optional: adjust font size inside the input box */
  border: none; /* Remove border (optional) */
  text-align: center; /* Optional: center the text inside the input box */
}